<label>
    <input id="searchInput" type="text" placeholder="Search..." />
</label>
<div id="episodeListContainer" class="scroll-y container" data-episodes="{{JSON2string episode}}" >
    {{> episodeList }}
</div>

<script src="./JS/importedModules/lunr.js"></script>
<style>
    .hidden{
        display: none;
    }
</style>