<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Netflix Video</title>

    <link rel="stylesheet" href="./css/main.css" type="text/css">
    <link rel="stylesheet" href="./css/gridHelpers.css" type="text/css">
    <link rel="stylesheet" href="./css/grid.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap" rel="stylesheet">
    {{> link}}
</head>

</head>
<body>
    <nav>{{> menu}}</nav>
    <div class="container">{{{body}}}</div>


    {{> script}}
</html>